$color-white: #ffffff;
$color-grey: #373737;
$color-black: #000000;

$color-yellow: #ffe239;
$color-dark-yellow: #feba0d;
$color-orange-yellow: #ffb83b;

$color-pink: #f787d2;
$color-dark-pink: #db6bb6;

$color-green: #70d65b;
$color-dark-green: #58b741;

$color-brown: #824a17;
$color-dark-brown: #683c11;

$color-background: $color-dark-yellow;
$color-text: $color-grey;
$color-link: $color-brown;
$color-link-hover: $color-dark-brown;

$color-modal-background: rgba($color-black, 0.5);
$color-modal-content-background: $color-white;
$color-modal-button-text: $color-white;
$color-modal-button-background: $color-dark-yellow;
$color-modal-button-background-hover: $color-orange-yellow;
