.caption Not all bananas are yellow

.caption Not all bananas are in the same length

.caption Like bananas vary in different colors and shapes

.caption It's okay to be different<br />
  span.replay-button
    img(src="~@images/icons/replay.svg" width="16" alt="Replay")
    span &nbsp;Replay
