#unsupportedWarning.modal
  .modal__content
    .modal__title Your browser is not supported.
    .modal__description Please click the button below to check and upgrade to latest versions of major browsers.
    a.modal__button(href="https://browsehappy.com/" target="_blank" rel="noopener noreferrer") Upgrade my browser!
